.main {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(153, 153, 153);
  /* height: 100vh; */
}
.header {
  height: 70vh;
  background-size: 90%;
  background-position-y: 35%;
  filter: blur(6px);
  background-image: url(../images/gasoil.jpeg);
}
.navbar {
  width: 100%;
  /* position: fixed; */
  position: sticky;
  top: 0px;
  z-index: 1;
  height: 5vh;
}
.NavbarBrand {
  color: white;
font-size: unset;
font-weight: 600;
width: 20%;
margin-left: 0%;
text-align: center;
}
.NavbarBrand:hover {
  color: white;
}
.aHerf{
text-decoration: none;
}
.aHerf:hover{
  text-decoration: none;
}

/* _____________body_____________ */
.body{
  display: flex;
}
.SideBar {
  width: 15%;
  margin-left: 0%;
  position: fixed;

}
.content {
  text-align: center;
  background-color: rgb(253, 253, 255);
  /* border: #cac9c9c4 5px solid; */
  width: 85%;
  margin-left: 15%;
  
}
.ul{
  /* width: 127%; */
  /* margin-left: -13%; */
  /* height: 100vh; */
  /* background-color: red; */
}
.li{
  color: white;
  font-size: 20px;
  font-weight: 200;
  width: 100%;
  height: 5vh;
  padding-left: 5%;
  padding-top: 3%;
  border-bottom: 0.1px solid rgba(255, 255, 255, 0.177);
}
 .li:hover {
  background-color: rgb(232, 123, 7);
  width: 100%;
  padding-left: 10%;
  color: white;
  transition: 0.4s;
}

/* _______________________________ */ 





/* ------------------------------Project current------------------------------------- */




/* ______________Cuve joge__________________ */


.CuveSST{
  position: absolute;
margin-top: -60%;

}
.cylinder {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
  margin-top: 0%;
	width:130px;
	height: 22vh;
  border: rgba(255, 255, 255, 0.308) 1px solid;

	border-radius: 50px/25px;
background-color:#8e8c9222;
}	

/* .cylinder:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 110px;
	height: 50px;
	border-radius: 50px/25px;
	background-color:rgb(0, 0, 0);
	content: '';
} */
.water {
  position: absolute;
  z-index: 10;
  /* left: 0; */
  /* top: 50; */
  top: 75%;
  /* bottom: 0; */
  width: 458px;
  height: 461px;
  padding-top: 100%;
  margin-left: -154%;
  background-color: #ffae00;
  transition: 0.3s linear;
  transition: 0.3s lineary;
  border-radius: 44%;
  transform: rotate(360deg);
  transition: all 4s ease;
  animation: wave 150s linear infinite;

}
@keyframes wave {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(3600deg); }
}

/* .water:before {
	position: absolute;
	left: 0;
	top: 0;
	width: 100px;
	height: 50px;
	border-radius: 50px/25px;
	background-color: #F1A501;
	content: '';
} */
/* .water:after {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100px;
	height: 50px;
	border-radius: 50px/25px;
	background-color: #F1A501;
	content: '';
} */
.water--0:checked ~ .cylinder .water {
	bottom: -50px;
}

.water--30:checked ~ .cylinder .water {
	height: calc(250px * 0.3);
}

.water--50:checked ~ .cylinder .water {
	height: calc(250px * 0.5);
}

.water--90:checked ~ .cylinder .water {
	height: calc(250px * 0.9);
}
/* ______________________end___________________________ */


/* ____________________________circle joge______________________________ */


.positionCircleJuge{
  margin-left:70%;
  margin-top:0%;
  position: absolute;
}
.circleWrap {
  margin: 150px auto;
  width: 150px;
  height: 150px;
  background: #fefcff;
  border-radius: 50%;
  border: 1px solid #cdcbd0;
  position: absolute;
}

 .mask,.fill {
  width: 150px;
  height: 150px;
  position: absolute;
  border-radius: 50%;
}

.circleWrap .circle .mask {
  clip: rect(0px, 150px, 150px, 75px);
}

.circleWrap .insideCircle {
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background: #d2eaf1;
  line-height: 120px;
  text-align: center;
  margin-top: 14px;
  margin-left: 14px;
  color: #1e51dc;
  position: absolute;
  z-index: 100;
  font-weight: 700;
  font-size: 2em;
}

/* color animation */

/* 3rd progress bar */
.mask .fill {
  clip: rect(0px, 75px, 150px, 0px);
  background-color: #227ded;
  background: -webkit-linear-gradient(left, #ff0000, #fffefe);
 
}

.mask.full,
 .fill {
  animation: fill ease-in-out 3s;
  transform: rotate(135deg);
}

@keyframes fill{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(135deg);
  }
}
/* ______________________end___________________________ */



/* ______________box Cuve SST__________________ */

.infoCuve{
  margin-left: 40%;
  margin-top: 12%;
  width: 25%;
  height: 10vh;
  /* font-size: 30%; */
  /* background-color:#17141d; */
  /* border: 6px solid #7a7a8c; */
  /* border-radius: 50%; */
  /* z-index: 10; */
  /* position: absolute; */
}
/* .infoContent{
  text-align: center;
  padding: 20%;
} */
.QteCuve{
  color: white;
  font-size: 30px;
  border-bottom: 1px solid white;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
padding: 1rem;
row-gap: 4px;
column-gap: 14px;
}
.box{
  display: flex;
  position: relative;
  flex-direction: column;
  height: 350px;
  width: 100%;
  min-width: 250px;
  padding: 1rem;
  border-radius: 16px;
  background: #17141d;
  box-shadow: -1rem 0 3rem #00000067;
  transition: .2s;
  font-family: 'Inter', sans-serif;
  margin-left: 0%;
  margin-top: 2%;
}

.box:hover {
  transform: translateY(-0.4rem);
}

.boxAuthor {
  position: relative;
  display: grid;
  grid-template-columns: 75px 1fr;
  align-items: center;
  margin: 3rem 0 0;
}

.authorName {
  color: #7a7a8c;
}

.authorNamePrefix {
  color: #e52e71;
  font-weight: 600;
}

.authorAvatar span {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #f2f2f2;
  margin: 16px 10px;
}

.halfCircle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 48px;
  fill: none;
  stroke: #ff8a00;
  stroke-width: 8;
  stroke-linecap: round;
}

.boxHeader {
  margin-bottom: auto;
  color: #7a7a8c;
}
.paragraph {
  font-size: 16px;
  color: #7a7a8c;
 
}
.line{
  border-bottom: 1px solid #7a7a8c;
  width: 25%;
  
}
/* .circle{
  border: #7a7a8c 1px;
  border-radius: 50%;
  width: 25%;
  height: 30%;
  background-color: rgb(255, 255, 255);
  position: absolute;
} */

.title {
  font-size: 25px;
  /* margin: .25rem 0 auto; */
  cursor: pointer;
  font-family: 'Arial Black', sans-serif;
  margin-left: -40%;
  position: relative;
}

.title:hover {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  text-shadow: none;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.tags {
  margin: 1rem 0 2rem;
  padding: .5rem 0 1rem;
  line-height: 2;
  margin-bottom: 0;
}

.tags a {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
  text-transform: uppercase;
  font-size: .66rem;
  border: 3px solid #28242f;
  border-radius: 2rem;
  padding: .2rem .85rem .25rem;
  position: relative;
}

.tags a:hover {
  background: linear-gradient(90deg,#ff8a00,#e52e71);
  text-shadow: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  background-clip: text;
  border-color: white;
}


/* ______________________end___________________________ */

/* .VosStations {
  color: rgb(143 0 0);
  margin-top: 18%;
  position: absolute;
  z-index: 1;
  margin-left: 4%;
background: rgba(255, 255, 255, 0.046);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(46, 205, 18, 0.1);
backdrop-filter: blur(12.3px);
-webkit-backdrop-filter: blur(12.3px);
border: 1px solid rgba(170, 170, 170, 0.82);
width: 80%;
} */






/* --------------------------------react css ------------------------------------------ */

.description {
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  max-width: var(--max-width);
  width: 100%;
  z-index: 2;
  font-family: var(--font-mono);
}

.description a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.description p {
  position: relative;
  margin: 0;
  padding: 1rem;
  background-color: rgba(var(--callout-rgb), 0.5);
  border: 1px solid rgba(var(--callout-border-rgb), 0.3);
  border-radius: var(--border-radius);
}

.code {
  font-weight: 700;
  font-family: var(--font-mono);
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}

.card {
  padding: 1rem 1.2rem;
  border-radius: var(--border-radius);
  background: rgba(var(--card-rgb), 0);
  border: 1px solid rgba(var(--card-border-rgb), 0);
  transition: background 200ms, border 200ms;
}

.card span {
  display: inline-block;
  transition: transform 200ms;
}

.card h2 {
  font-weight: 600;
  margin-bottom: 0.7rem;
}

.card p {
  margin: 0;
  opacity: 0.6;
  font-size: 0.9rem;
  line-height: 1.5;
  max-width: 30ch;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 4rem 0;
}

.center::before {
  background: var(--secondary-glow);
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  background: var(--primary-glow);
  width: 240px;
  height: 180px;
  z-index: -1;
}

.center::before,
.center::after {
  content: "";
  left: 50%;
  position: absolute;
  filter: blur(45px);
  transform: translateZ(0);
}

.logo {
  position: relative;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}







/* ______________________________________responsivite___________________________________ */


/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}
/* Mobile */
@media (max-width: 700px) {

}